/**/*.db
/**/荧.webp
/**/深渊公主.png
/**/普通.webp
/**/埃洛伊.webp
/**/达达利亚.webp
/GuTools/node_modules
GuTools/package.json
GuTools/package-lock.json
/GuTools/imgtemp
GuGuNiu-Gallery/ExternalImageData.json
GuGuNiu-Gallery/ImageData.json
咕咕牛图库下载器.js.bak
/GuGuNiu-Gallery.bak
GuGuNiu-Gallery/Px18img.json
GuGuNiu-Gallery/banlist.txt
GuGuNiu-Gallery/banlist.txt
*.js
waves-character/README.md
