/**/*.db
/**/荧.webp
/**/深渊公主.png
/**/普通.webp
/**/埃洛伊.webp
/**/达达利亚.webp
/GuTools/node_modules
GuTools/package-lock.json
/GuTools/imgtemp
GuGuNiu-Gallery/ExternalImageData.json
咕咕牛图库下载器.js.bak
/GuGuNiu-Gallery.bak
waves-character/README.md
咕咕牛图库管理器-v5.0.js
GuGuNiu-Gallery/SecondTags.json.bak
/GuTools/thumbnails
